section.main__advantages
    div.advantages__descriptionPart.descriptionPart.oneHalf
        h2.h2 VoLTE — голосовая связь последнего поколения
        h3.h3 Технология Voice over LTE передаёт звонок по высокоскоростной сети 4G+ (LTE). Голосовой поток доставляется в разы быстрее и в лучшем качестве.
    div.advantages__pointsPart.pointsPart.oneHalf
        include ../../images/points.svg
        div.pointsPart__point.point
            svg.point__icon
                use(xlink:href="#point1")
            div.point__text
                h3.h3 Голос звучит чисто
                p.text15 Настолько естественно, как будто собеседник находится рядом
        div.pointsPart__point.point
            svg.point__icon
                use(xlink:href="#point2")
            div.point__text
                h3.h3 4G не исчезнет
                p.text15 Вы можете и звонить, и пользоваться 4G интернетом одновременно
        div.pointsPart__point.point
            svg.point__icon
                use(xlink:href="#point3")
            div.point__text
                h3.h3 Мгновенный дозвон
                p.text15 Соединение происходит очень быстро — в течение 2 секунд
        div.pointsPart__point.point
            svg.point__icon
                use(xlink:href="#point4")
            div.point__text
                h3.h3 И никакой доплаты
                p.text15 Технология VoLTE доступна бесплатно и не требует подключения