section.main__faq.faq
    div.faq__faqContainer.faqContainer
        h2.h2 Часто задаваемые вопросы
        div.faqContainer__questionBlock.questionBlock
            div.questionBlock__question
                span Какие устройства поддерживают VoLTE и как настроить VoLTE?
                img(src="../images/droplistChevron.svg")
            div.questionBlock__answer
                ul.answer__dashList.dashList
                    li.dashList__item VoLTE действует только в сети 4G+ в Домашнем регионе.
                    li.dashList__item VoLTE уже доступна для абонентов Москвы, а с 1 октября 2018 г. — для Санкт-Петербурга, Самары и Тольятти.
                    li.dashList__item Качество голосовой связи будет лучше, если ваш собеседник тоже использует VoLTE.
                    li.dashList__item VoLTE не поддерживается в телефонах с Dual SIM и не совместима с услугами Персональный гудок и eMotion.
                    li.dashList__item Если во время разговора по VoLTE сеть 4G+ автоматически поменяется на сеть 3G/2G, звонок не оборвётся, а качество звука вернётся на уровень сети 3G/2G.
                    li.dashList__item Если включить услугу VoLTE на телефоне без поддержки VoLTE МегаФона, услуга автоматически не включится. Если вы пользовались VoLTE МегаФона и переставили SIM-карту в телефон, который не поддерживает этот сервис, настройки VoLTE рекомендуется выключить.
        div.faqContainer__questionBlock.questionBlock
            div.questionBlock__question
                span Как проверить, что вы используете VoLTE?
                img(src="../images/droplistChevron.svg")
            div.questionBlock__answer
                ul.answer__dashList.dashList
                    li.dashList__item VoLTE действует только в сети 4G+ в Домашнем регионе.
                    li.dashList__item VoLTE уже доступна для абонентов Москвы, а с 1 октября 2018 г. — для Санкт-Петербурга, Самары и Тольятти.
                    li.dashList__item Качество голосовой связи будет лучше, если ваш собеседник тоже использует VoLTE.
                    li.dashList__item VoLTE не поддерживается в телефонах с Dual SIM и не совместима с услугами Персональный гудок и eMotion.
                    li.dashList__item Если во время разговора по VoLTE сеть 4G+ автоматически поменяется на сеть 3G/2G, звонок не оборвётся, а качество звука вернётся на уровень сети 3G/2G.
                    li.dashList__item Если включить услугу VoLTE на телефоне без поддержки VoLTE МегаФона, услуга автоматически не включится. Если вы пользовались VoLTE МегаФона и переставили SIM-карту в телефон, который не поддерживает этот сервис, настройки VoLTE рекомендуется выключить.
        div.faqContainer__questionBlock.questionBlock
            div.questionBlock__question.-active
                span Особенности предоставления услуги
                img(src="../images/droplistChevron.svg")
            div.questionBlock__answer.-active
                ul.answer__dashList.dashList
                    li.dashList__item VoLTE действует только в сети 4G+ в Домашнем регионе.
                    li.dashList__item VoLTE уже доступна для абонентов Москвы, а с 1 октября 2018 г. — для Санкт-Петербурга, Самары и Тольятти.
                    li.dashList__item Качество голосовой связи будет лучше, если ваш собеседник тоже использует VoLTE.
                    li.dashList__item VoLTE не поддерживается в телефонах с Dual SIM и не совместима с услугами Персональный гудок и eMotion.
                    li.dashList__item Если во время разговора по VoLTE сеть 4G+ автоматически поменяется на сеть 3G/2G, звонок не оборвётся, а качество звука вернётся на уровень сети 3G/2G.
                    li.dashList__item Если включить услугу VoLTE на телефоне без поддержки VoLTE МегаФона, услуга автоматически не включится. Если вы пользовались VoLTE МегаФона и переставили SIM-карту в телефон, который не поддерживает этот сервис, настройки VoLTE рекомендуется выключить.
