footer.footer
    div.footer__upperPart.upperPart
        h2.h2.footer__title Поддержка
        div.footerBlock__footerLinks.-withIcons.-mobile
            include ../../images/footerLinks.svg
            a(href="#").footerLinks__link
                svg.link__icon
                    use(xlink:href="#qa")
                span Вопрос-ответ
                img(src="dist/images/chevron.svg").link__icon.-chevron
            a(href="#").footerLinks__link
                svg.link__icon
                    use(xlink:href="#salon")
                span Салон связи
                img(src="dist/images/chevron.svg").link__icon.-chevron
            a(href="#").footerLinks__link
                svg.link__icon
                    use(xlink:href="#map")
                span Карта покрытия
                img(src="dist/images/chevron.svg").link__icon.-chevron
            a(href="#").footerLinks__link
                svg.link__icon
                    use(xlink:href="#vip")
                span VIP-привилегии
                img(src="dist/images/chevron.svg").link__icon.-chevron
        div.upperPart__footerBlock.footerBlock.oneHalf
            div.footerBlock__footerMenu
                h5.h5 Компания
                    img(src="dist/images/chevron.svg").link__icon.-chevron
                ul.footerMenu__list
                    li
                        a(href="#") О компании
                    li
                        a(href="#") Новости
                    li
                        a(href="#") Условия оказания услуг
            div.footerBlock__footerMenu
                h5.h5 Организациям
                    img(src="dist/images/chevron.svg").link__icon.-chevron
                ul.footerMenu__list
                    li
                        a(href="#") Инвесторам
                    li
                        a(href="#") Прессе
                    li
                        a(href="#") Партнёрам
                ul.footerMenu__list
                    li
                        a(href="#") Инновации
                    li
                        a(href="#") Социальная ответственность
                    li
                        a(href="#") Лицензии
        div.upperPart__footerBlock.footerBlock.oneHalf
            div.footerBlock__footerLinks
                h5.h5
                    a(href="#") Работа в МегаФон
                        img(src="dist/images/chevron.svg").link__icon.-chevron
                h5.h5
                    a(href="#") English
                        img(src="dist/images/chevron.svg").link__icon.-chevron
            div.footerBlock__footerLinks.-withIcons
                include ../../images/footerLinks.svg
                a(href="#").footerLinks__link
                    svg.link__icon
                        use(xlink:href="#qa")
                    span Вопрос-ответ
                a(href="#").footerLinks__link
                    svg.link__icon
                        use(xlink:href="#salon")
                    span Салон связи
                a(href="#").footerLinks__link
                    svg.link__icon
                        use(xlink:href="#map")
                    span Карта покрытия
                a(href="#").footerLinks__link
                    svg.link__icon
                        use(xlink:href="#vip")
                    span VIP-привилегии
    div.footer__lowerPart.lowerPart
        div.lowerPart__copyrightBlock.copyrightBlock
            div.copyrightBlock__age
                span 6+
            div.copyrightBlock__copyright © 2016 ПАО «МегаФон»
        div.lowerPart__socialLinks.socialLinks
            include ../../images/socialIcons.svg
            a(href="#").socialLinks__link
                svg.link__icon
                    use(xlink:href="#youtube-gray")
            a(href="#").socialLinks__link
                svg.link__icon
                    use(xlink:href="#ya-gray")
            a(href="#").socialLinks__link
                svg.link__icon
                    use(xlink:href="#vk-gray")
            a(href="#").socialLinks__link
                svg.link__icon
                    use(xlink:href="#fb-gray")
            a(href="#").socialLinks__link
                svg.link__icon
                    use(xlink:href="#twitter-gray")
            a(href="#").socialLinks__link
                svg.link__icon
                    use(xlink:href="#habrahabr-gray")
            a(href="#").socialLinks__link
                svg.link__icon
                    use(xlink:href="#telegram-gray")