section.main__necessary
    div.necessary__necessaryContainer.necessaryContainer
        div.necessaryContainer__necessaryBlock.necessaryBlock
            div.necessaryBlock__descriptionPart.descriptionPart.oneHalf
                h2.h2 Что нужно, чтобы пользоваться VoLTE
                span.text15 Технология уже доступна на многих устройствах — проверьте настройки своего смартфона и тип SIM-карты.
            div.necessaryBlock__contentPart.contentPart.oneHalf
                div.contentPart__contentBlock.contentBlock
                    h3.h3 SIM-карта с поддержкой 4G+
                    span.text15 Наберите команду *507#, чтобы проверить, подходит ли ваша SIM-карта для сети 4G+. Если не подходит — замените её бесплатно на USIM-карту в любом салоне МегаФона.
                    a(href="#").link
                        span Адреса салонов
                        img(src="../images/chevron.svg")
                div.contentPart__contentBlock.contentBlock
                    h3.h3 Смартфон с поддержкой VoLTE
                    p.text15
                        span Ваш смартфон должен поддерживать технологию VoLTE (см.
                        a(href="#") список устройств
                        span ). Не забудьте проверить настройки и обновить прошивку до последней версии.
                    div.contentBlock__phonesBlock.phonesBlock
                        div.phonesBlock__phone.phone.-iphone
                            img.phone__image(src="../images/iphone.png")
                            div.phone__priceBubble
                                span.phone__price 70&nbsp;290&nbsp;&#8381
                            span.phone__name Apple iPhone X 256GB Space Gray
                        div.phonesBlock__phone.phone.-samsung
                            img.phone__image(src="../images/samsung.png")
                            div.phone__priceBubble
                                span.phone__price 69&nbsp;990&nbsp;&#8381
                            span.phone__name Смартфон Samsung Galaxy S9 64GB Черный бриллиант
                    a(href="#").link
                        span Выбрать смартфон с VoLTE
                        img(src="../images/chevron.svg")