section.main__router.router
    div.router__routerContainer.routerContainer
        div.routerContainer__routerBlock.routerBlock
            div.router__descriptionPart.descriptionPart.oneHalf
                img.descriptionPart__background(src="../images/VoWi-Fi.png")
                h2.h2.-white VoWi-Fi — связь везде, где есть роутер
            div.router__pointsPart.pointsPart.oneHalf
                p.text15 В местах с плохим покрытием, где LTE недоступен, можно подключаться к любому  Wi-Fi-роутеру. Технология Voice over Wi-Fi использует роутер как базовую станцию и улучшает качество сотовой связи.
                div.pointsPart__point.point
                    div.point__dot
                    div.point__text
                        h3.h3 Разговор не прерывается
                        p.text15 Для передачи звонка используется стабильное подключение
                div.pointsPart__point.point
                    div.point__dot
                    div.point__text
                        h3.h3 Лучшее качество
                        p.text15 Качество сигнала связи становится лучше даже в местах без LTE
                div.pointsPart__point.point
                    div.point__dot
                    div.point__text
                        h3.h3 Экономия заряда
                        p.text15 Телефон расходует меньше энергии в местах с плохим покрытием