div.main__tabSliderContainer.tabSliderContainer.swiper-container
    div.main__tabSlider.tabSlider.swiper-wrapper
        section.tabSlider__tabSlide.tabSlide.swiper-slide.-slide1.-active
            img.tabSlide__image.-desktop(src="../images/slider__slide1.png")
            img.tabSlide__image.-mobile(src="../images/slider__slide1_m.png")
            div.tabSlide__information
                h2.tabSlide__title Наслаждайтесь чистым звуком
                div.tabSlide__subtitle.text15 Даже если между вами тысячи километров
                img(src="../images/arrow.svg")
        section.tabSlider__tabSlide.tabSlide.swiper-slide.-slide2
            img.tabSlide__image.-desktop(src="../images/slider__slide2.png")
            img.tabSlide__image.-mobile(src="../images/slider__slide2_m.png")
            div.tabSlide__information
                h2.tabSlide__title Несколько дел одновременно
                div.tabSlide__subtitle.text15 Разговаривайте по телефону и следите за дорогой по навигатору
                img(src="../images/arrow.svg")
        section.tabSlider__tabSlide.tabSlide.swiper-slide.-slide3
            img.tabSlide__image.-desktop(src="../images/slider__slide3.png")
            img.tabSlide__image.-mobile(src="../images/slider__slide3_m.png")
            div.tabSlide__information
                h2.tabSlide__title Больше времени на общение
                div.tabSlide__subtitle.text15 И меньше — на ожидание соединения с собеседником
                img(src="../images/arrow.svg")
    div.swiper-button-next
        img(src="../images/arrow.svg")
    div.swiper-pagination