section.main__subHeader.subHeader
    img.subHeader__background.-desktop(src="dist/images/headerBackground.png")
    img.subHeader__background.-mobile(src="dist/images/headerBackground-mobile.png")
    div.subHeader__text.oneHalf
        h1.h1 Кристально чистый звук с технологией VoLTE
        span Переходи на новый уровень общения