doctype html
html(lang="ru")
    head
        title Megafon Landing TZ
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
    body
        include ./includes/header.pug
        main.main
            include ./includes/subheader.pug
            include ./includes/advantages.pug
            include ./includes/slider.pug
            include ./includes/rates.pug
            include ./includes/necessary.pug
            include ./includes/router.pug
            include ./includes/faq.pug
        include ./includes/footer.pug