div.switcherTab__rate.rate
    h3.h3 Включайся! Общайся
    span.rate__length 850 минут
    span.rate__addInfo.text12 Безлимитный интернет на все сервисы
    div.rate__icons
        svg.rate__icon.infinity
            use(xlink:href="#infinity")
    div.rate__price
        span.price__number 800
        span.price__currency &#8381
        div.price__month в месяц
    div.rate__buttonContainer.buttonContainer
        a(href="#").buttonContainer__button.button.-greenButton Подробнее
        a(href="#").buttonContainer__link.link
            span Перейти в МегаФон
            img(src="dist/images/chevron.svg")