div.switcherTab__rate.rate
    h3.h3 Включайся! Смотри+
    span.rate__length 1500 минут | 30 ГБ
    span.rate__addInfo.text12 Безлимитный интернет на видео, музыку и мессенджеры
    div.rate__icons
        svg.rate__icon
            use(xlink:href="#youtube-color")
        svg.rate__icon
            use(xlink:href="#vimeo-color")
        svg.rate__icon
            use(xlink:href="#vk-color")
        svg.rate__icon
            use(xlink:href="#instagramm-color")
        span.rate__iconText.text12 + ещё 9
    div.rate__price
        span.price__number 1000
        span.price__currency &#8381
        div.price__month в месяц
    div.rate__buttonContainer.buttonContainer
        a(href="#").buttonContainer__button.button.-greenButton Подробнее
        a(href="#").buttonContainer__link.link
            span Перейти в МегаФон
            img(src="../images/chevron.svg")